@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.container{
  background-color: #100F14;
  color: white;
  font-family: "Roboto Mono";
  width: 100%;
  height: 100vh;
}
.NavigationBar{
  background-color: #1c1b20;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  width: 100%;
}
ul{
  list-style-type: none;
  display: flex;
}
li{
  padding-left: 20px;
}
.Name{
  padding-right: 5%;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: gray;
}
.content{
  padding-top: 80px; /* Adjust to match navbar height */
}
.sidebar{
  position: fixed;
  left: 0;
  top: 5%; /* Adjust based on navbar height */
  bottom: 0;
  width: 150px;
  background-color: #1c1b20;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 10vw;
}
.sidebarlink{
  position: fixed;
  left: 0;
  top: 40%; /* Adjust based on navbar height */
  bottom: 0;
  width: 150px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 10vw;  
}

.sidebar-button{
  margin-top: 10%;
}

.maincontent{
  margin-left: 13%;
  padding: 20px;
  border-radius: 20px;
}
.about{
  background: linear-gradient(to left,#100F14,#24222E);
  padding: 20px;
  display: flex;
  border-radius: 20px;
}

.aboutcontent{
  width: 100vb;
  height: 25vh;
  font-size: larger;
}

video{
  border-radius: 10px;
    overflow: hidden;
}







.media-section{
  float: left;
  margin-left: 15%;
}

